{% extends 'base.html.twig' %}
    {% block title %}
        <title>ABZ Properties - Contact Us</title>
    {% endblock %}

{% block bodymain %}
		
		<!-- Begin Main -->
		<div role="main" class="main pgl-bg-grey">
			<!-- Begin page top -->
			<section class="page-top">
				<div class="container">
					<div class="page-top-in">
						<h2><span>Contact Us</span></h2>
					</div>
				</div>
			</section>
			<!-- End page top -->
			
			<!-- Begin content with sidebar -->
			<div class="container">
				<div class="row">
					<div class="col-md-9 content">
						
						<div class="contact">
							<p>ABZ Properties Ltd, a builder with distinction always strives to provide its stakeholders with the best returns of their investment. Whatever you invest here - the land or cash - yours investment will always be back with premium added value. Feel safe at ABZPL and step into our world with full confidence.</p>
							<div id="contact-map" class="pgl-bg-light">
							</div>
							<div class="row">
								<div class="col-sm-6">
									<strong>Your address</strong>
									<address>House B-110, Road 8, DOHS Mohakhali, Dhaka -1206</address>
								</div>
								<div class="col-sm-6">
									<address>
										<strong>Phone.</strong> 02- 8714745, 8714746<br>
										<strong>Mobile.</strong> 01746437215, 01746437212<br>
										<strong>Email.</strong> info@abzpropertiesltd.com
									</address>
								</div>
							</div>
							<hr>
							<form id="contact-form" name="contact-form" method="post" action="contact-mailer">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label for="name">Your Name*</label>
											<input type="text" name="name" id="name" class="form-control" data-msg-required="Please enter your name." required>
										</div>
										<div class="col-sm-6">
											<label for="customer_mail">Your Email*</label>
											<input type="email" name="customer_mail" id="customer_mail" class="form-control" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." required>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label for="subject">Subject*</label>
											<input type="text" name="subject" id="subject" class="form-control" data-msg-required="Please enter the subject." required>
										</div>
										
									</div>
								</div>
								<div class="form-group">
									<label for="comments">Your Message*</label>
									<textarea rows="9" name="comments" id="comments" class="form-control" data-msg-required="Please enter your message." required></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="Submit" class="btn btn-primary min-wide" data-loading-text="Loading...">
								</div>
							</form>
						</div>
						
					</div>
					<div class="col-md-3 sidebar">
						

						
					</div>
				</div>	
			</div>
			<!-- End content with sidebar -->
			
		</div>
		<!-- End Main -->
{% endblock %}

{% block javascripts %}

    {{ parent() }}
<!-- Contact Settings -->
<script src="js/contact.js"></script>

<script>

    /*
    Map Settings

        Find the Latitude and Longitude of your address:
            - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
            - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

    */

    // Map Markers
    var mapMarkers = [{
        address: "House B 110, Road 8, DOHS Mohakhali, Dhaka 1206",
        html: "<strong>House B-110</strong><br>Road 8, DOHS Mohakhali, Dhaka 1206<br>Dhaka, Bangladesh",
        popup: false,
        icon: {
            image: "images/makers/marker.png",
            iconsize: [26, 33],
            iconanchor: [26, 33]
        }
    }];
//23.782000, 90.395965
    // Map Initial Location
    var initLatitude = 23.781993032408007;
    var initLongitude = 90.39599374308625;

    // Map Extended Settings
    var mapSettings = {
        controls: {
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 15
    };

    var map = $("#contact-map").gMap(mapSettings);

    // Map Center At
    var mapCenterAt = function(options, e) {
        e.preventDefault();
        $("#contact-map").gMap("centerAt", options);
    }

</script>
{% endblock %}

