{% extends 'base.html.twig' %}
    {% block title %}
		<title>ABZ Properties - Page not found</title>
    {% endblock %}

{% block bodymain %}
		<div role="main" class="main pgl-bg-grey">
			<!-- Begin page top -->
			<section class="page-top">
				<div class="container">
					<div class="page-top-in">
						<h2><span>Page 404</span></h2>
					</div>
				</div>
			</section>
			<!-- End page top -->
			
			<div class="container">
				<div class="pgl-error text-center">
					<h1 class="error-title"><strong>404</strong></h1>
					<p class="error-msg">The page cannot be found</p>
					<a href="index.html" class="btn btn-primary">Return to the homepage</a>
				</div>
			</div>
			
		</div>
		<!-- End Main -->

{% endblock %}